.first-name,
.last-name {
  display: inline-block;
  font-family: Arial;
  width: 100px;
  margin-bottom: 10px;
  border: solid;
  border-color: gray;
  border-width: 1.5px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 7px;
}

.first-name:focus,
.last-name:focus,
.email-field:focus {
  outline: none;
}

.email-field,
.signup-button {
  display: block;
  font-family: Arial;
  margin-bottom: 10px;
}

.email-field {
  width: 215px;
  border: solid;
  border-color: gray;
  border-width: 1.5px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 7px;
}

.signup-button {
  background-color: rgb(47, 127, 231);
  color: white;
  font-weight: bold;
  border: none;
  width: 225px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 7px;
  cursor: pointer;
}