body {
  height: 3000px;
}
.fixed-div {
  background-color: gray;
  width: 320px;
  height: 180px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.close-button {
  background-color: black;
  font-family: Arial;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 20px;
  position: absolute;
  top: -10px;
  left: -10px;
  cursor: pointer;
}
.timestamp {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: black;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: Arial;
  font-size: 12px;
}