body {
  height: 3000px;
}
.container {
  position: relative;
  display: inline-block;
}
.product-image {
  height: 280px;
  width: 260px;
  object-fit: cover;
}
.discount {
  position: absolute;
  background-color: black;
  color: white;
  font-family: Arial;
  font-size: small;
  right: 0;
  top: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
.button-container {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  height: 60px;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-to-cart {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  font-family: Arial;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}