.profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
  vertical-align: middle;
}

.tweet-text-area {
  border: none;
  vertical-align: middle;
  margin-left: 8px;
  font-size: medium;
}

.tweet-text-area:focus {
  
  outline: none;
}

.tweet-button {
  vertical-align: middle;
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 70px;
  transition: box-shadow 0.15s;
}

.tweet-button:hover {
  box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.15);
}

.tweet-div {
  width: 405px;
  box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.30);
  border-radius: 10px;
  padding: 10px;
}