.request-now-button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  /* height: 36px;
  width: 120px; */
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.request-now-button:hover {
opacity: 0.7;
}